.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1f3c88;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	margin: 0;
	padding-top: 80px;
}


.nav-centro {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.nav-center a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}


@media (max-width: 768px) {
	.menu {
		flex-direction: colum;
		text-align: center;
	}
	
	nav a {
		margin: 5px 0;
	}
}


.boton{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 13%;
	height: 50px;
	background: #f57c00;	
	color: #white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight:500order: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	
}

.boton span{
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
